[submodule "Dobby"]
	path = Dobby
	url = https://github.com/jmpews/Dobby.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "SQLiteCpp"]
	path = SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git